
body {
	margin: 0;
	padding: 0;
	width: 100%;
	
	background-image: url("../images/steampunk-stylized-1.jpg");
	background-repeat: repeat-y;
	background-size: cover;
	
	text-align: center;
	
	font-size: 1.3em;
	color: white;
	font-family: verdana, Sans-serif;
}

.content{
	width: 80%;
	margin-left: 10%;
}

.title-large{
	margin-top: 20px;
	max-width: 90%;
	max-height: 300px;
}

.login-pane{
	margin-top: 50px;
}

input, textarea, select{
	
	font-size: 0.74em;
	background-color: #afb3bb;
	background: -webkit-gradient(linear, left top, left bottom, from(#d6d8dc),   to(#7b7ca7));
 	border: 1px solid #43474b;
	padding: 0.5em;
	margin: 0.2em;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 7px black;
	background-image: url("../images/gear-small-bg-gradient.jpg");
	background-size: cover;
	
	
}

input[type=submit]{
	background-color: #afb3bb;
	background: -webkit-gradient(linear, left top, left bottom, from(#d6d8dc),   to(#7b7ca7));
 	border: 3px solid #43474b;
	padding: 0.5em 1.2em;
	margin: 0.2em;
	text-shadow: 1px 1px 7px black;
	background-image: url("../images/gear-small-bg-gradient.jpg");
	background-size: cover;
}

.btn-container{
	padding: 0.2em 0em;
}
/*
@media only screen and (max-device-width: 700px){
	body{
		font-size: 3em;
	}
	.content{
		width: 100%;
		margin: 0%;
	}
	.title-large{
		max-width: 100%;
	}
	input[type=submit]{
		padding: 0.8em 1.3em;
	}
}
*/