<!-- BEGIN main -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>FRC 2015 Scoring App</title>
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />
	<script type='text/javascript' src='jqueryui/js/jquery-1.10.2.js'></script>
    <link rel="stylesheet" href="stylesheet.css" />
    <!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	<!-- BEGIN reportError --> 
	<script type='text/javascript'>//<![CDATA[ 
		$(document).ready(function(){
			alert("{alertError}");
		});
	//]]>
	</script>
	<!-- END reportError --> 
</head>
<body class="no-js">
    <div id="page">
        <div class="header">
			<img src="favicon.ico" style="float: right; padding: 3px 15px 0px 10px;"/>
			<form id="indexForm" action="index.php" method="POST">
				<div id="team102" style="text-align: right">FIRST Team 102</div>
				<div style="text-align: right">The Gearheads</div>
				<div style="text-align: right">Somerville High School, NJ</div>
				<div id="competition" style="padding-top: 50px;padding-bottom: 20px;">Team 102 FRC Index</div>
                <div id="Initials">
                    <label for="txtInitials">Your Initials:
                        <input type="text" maxLength="4" name="txtInitials" tabindex="1"/>
                    </label>
                </div>
                <div id="Password">
                    <label for="txtPassword">Password:
                        <input type="password" name="txtPassword" tabindex="4"/>
                    </label>
                </div>
                <div id="nav">
			<div style="padding-top: 10px;padding-bottom: 10px;"><input type="submit" name="btnScoringApp" value="Team 102 Scoring App" /></div>
			<div style="padding-top: 10px;padding-bottom: 10px;"><input type="submit" name="btnStandings" value="Team 102 Standings Page" /></div>
			<div style="padding-top: 10px;padding-bottom: 10px;"><input type="submit" name="btnSurvey" value="Team 102 Scouting Survey" /></div>
			<div style="padding-top: 10px;padding-bottom: 10px;"><input type="submit" name="btnPreview" value="Team 102 Match Preview" /></div>
			<div style="padding-top: 10px;padding-bottom: 10px;"><input type="submit" name="btnUpcoming" value="Team 102 Upcoming Matches" /></div>
			<div style="padding-top: 10px;padding-bottom: 10px;"><input type="submit" name="btnAlliance" value="Team 102 Alliance Selection" /></div>
			<div style="padding-top: 10px;padding-bottom: 10px;"><input type="submit" name="btnLighterApp" value="Lighter Color Stuffz" /></div>
		</div>
	</form>
        </div>
    </div>
</body>
</html>
<!-- END main -->