<!-- BEGIN main -->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>FRC Team102 Public Homepage</title>
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />
	<script type='text/javascript' src='jqueryui/js/jquery-1.10.2.js'></script>
    <link rel="stylesheet" href="stylesheet.css" />
<!--	<link type="text/css" rel="stylesheet" href="special.css">  -->
    <!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	<script type='text/javascript'>//<![CDATA[ 
		$(document).ready(function(){
				});
	//]]>
	</script>
</head>
<body class="no-js">
    <div id="page">
        <div class="header">
			<div class="logo">
            <img src="http://www.team102.org/2015Dev/favicon.ico" style="float: right; padding: 3px 15px 20px 10px;" onclick="changeImage()"/>
			<div id="indexForm" onclick="changeImage()">
				<div id="team102" style="text-align: right">FIRST Team 102</div>
				<div style="text-align: right">The Gearheads</div>
				<div style="text-align: right">Somerville High School, NJ</div>
			</div>
		    </div>
			temp text
                <form class="nav" id="form" action="index.php" method="POST">
					<div style="padding-top: 10px;padding-bottom: 10px;"><input class="bigButton" type="submit" name="btnOverview" value="Game Overview" /></div>
					An overview of the game.
					<div style="padding-top: 10px;padding-bottom: 10px;"><input class="bigButton" type="submit" name="btnStandings" value="Standings Page" /></div>
					Each team's ranking and statistics.
                    <!--<div style="padding-top: 10px;padding-bottom: 10px;"><input class="bigButton" type="submit" name="btnSurvey" value="Survey Results" /></div>
					Team results based on Team 102's scouting survey.-->
					<div style="padding-top: 10px;padding-bottom: 10px;"><input class="bigButton" type="submit" name="btnPreview" value="Match Preview" /></div>
					Schedule for matches that will be taking place
<!--					<div style="padding-top: 10px;padding-bottom: 10px;"><input class="bigButton" type="submit" name="btnAlliance" value="Alliance Selection" /></div>
					Alliances that have been formed for the final matches
-->					<div style="padding-top: 10px;padding-bottom: 10px;"><input class="bigButton" type="submit" name="btnLighterApp" value="Alliance Color Lighter" /></div>
					Illuminate screen in blue or red to show support for your alliance!
					<div style="padding-top: 10px;padding-bottom: 10px;"><input class="bigButton" type="submit" name="btnPrivate" value="Team 102 Homepage" /></div>
					Team102 private homepage. Requires password to enter scoring app.
					</div>
				</form>
        <script>
	var groupHighlights = [false];

function changeImage() {

        if (groupHighlights[0]===false) {
          document.getElementById("indexForm").style.background = "#ff8a19";
          document.getElementById("indexForm").style.color = "black";
          groupHighlights[0]=true;
          } else {
          document.getElementById("indexForm").style.background = "";
          document.getElementById("indexForm").style.color = "white";
          groupHighlights[0]=false;
        }
    } 
		</script>
    </div>
</body>
<!-- END main -->