<!-- BEGIN main -->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>FRC 2015 Scoring App</title>
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />
	<script type='text/javascript' src='jqueryui/js/jquery-1.10.2.js'></script>
    <link rel="stylesheet" href="stylesheet.css" />
    <!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>
<body class="no-js">
    <div id="page">
        <div class="header">
			<img src="favicon.ico" style="float: right; padding: 3px 15px 0px 10px;"/>
            <div id="team102" style="text-align: right">FIRST Team 102</div>
			<div style="text-align: right">The Gearheads</div>
			<div style="text-align: right">Somerville High School, NJ</div>
            <div id="competition" style="padding-top: 50px;padding-bottom: 20px;">FRC 2015 Scoring App</div>
            <form id="CompetitionForm" action="scoringapp.php" method="post">
				<div id="Tournament">{tournamentTitle}</div>
                <div id="Alliance">
                    <div>
                        Choose an Alliance</div>
                    <div id="AllianceList">
                        <label for="rdoAllianceRed" id="lblRed">
                            <input type="radio" name="rdoAlliance" id="rdoAllianceRed" value="Red" tabindex="2"/>Red</label>
							&nbsp;&nbsp;
                        <label for="rdoAllianceBlue" id="lblBlue">
                            <input type="radio" name="rdoAlliance" id="rdoAllianceBlue" value="Blue" tabindex="3"/>Blue</label>
                    </div>
                </div>
                <div id="nav">
                    <div style="padding-top: 10px;padding-bottom: 10px;"><input type="submit" name="btnChooseMatch" value="Choose Match" /></div>
				</div>
            </form>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/modernizr.js"></script>
</body>
<!-- END main -->